
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #20f77acb, #29ebdbe5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.section-1,
.section-2,
.section-3
 {
     width: 360px;
     height: 500px;
     max-width: 100%;
     max-height: 100%;
     position: relative;
    background: #FFFFFF;
}

.section-1 {
    display: none;
}

/* .home-container {
    width: 360px;
    height: 500px;
    position: relative;
    background: #FFFFFF;
    max-width: 100%;
} */

form {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 25px 25px 0 25px ;
    margin-bottom: 20px;
} 

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0em;
    color: #555555;
    margin-top: 20px;
}

p {
    text-align: center;
    line-height: 1.4rem;
    font-size: 14px;
    color: #555555;
    padding: 0;
}

.name-container, .email-container {
    gap: .5rem;
    width: 100%;
    padding: 0 20px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.name-container input:focus, .email-container input:focus {
    outline: 0;
}

.name-container label, .email-container label{
    color: #555555;
    font-size: 12px;
}

.name-container input, .email-container input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: #555555;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}

#errorName, #errorEmail {
    font-size: 8.5px;
    color: #FF3838;
}

/* #name {
    border: 1px solid #FF3838;
} */

/* .home-container #name {} */

/* #email {
    border: 1px solid #FF3838;
} */

/* .home-container #email {} */

#start-btn-container {
    width: 100%;
    font-size: 14px;
    padding: 7px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-btn {
    padding: 10px;
    width: 150px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 1px;
    background: #028A3D;
    box-shadow: 0px 2.5px 4px rgba(128, 128, 128, 0.63);
}

#start-btn:hover{
    background: #028A3Dc2;
    font-weight: 700;
}
/* =====================
    Style for Questions 
   ===================== */

.section-2 {
    /* display: none; */
}

.question-title {
    position: relative;
    padding: 40px 19px 30px 19px;
}

.question-title h4 {
    text-align: center; 
    color: #555555;
}

.flex-bar-label{
    display: flex;
    justify-content: space-between;
    color: #555555;
    font-size: 10px;
}

#question-num {
    padding: 0px 20px 0px 20px;
    min-width: 100%;
}

.back-unprogress-bar{
    width: 320px;
    height: 6px;
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #ddd;
}

.unprogress-bar {
    height: 6px;
    width: 320px ;
    border-radius: 5px;
    background-color: #028A3D;
}

.response {
    padding: 0px 20px;
    min-width: 100%;
}

.input-container:first-of-type {
    margin-top: 10px;
}

.input-container {
    /* margin-left: 10px; */
    padding: 10px;
    margin-bottom: 22px;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

/* .input-container input:checked {
    border: 1px solid #028A3D;
} */

.response .radio-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid gray;

}
.response .radio-input:checked {
    border-radius: 50%;
    border: 7px solid #028A3D;
}

.response .response-value {
    font-size: 15px;
    color: gray;
    margin-left: 5px;
}

.Question-btn-container {
    text-align: center;
}

#result-btn-container {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 215x;
}

#Exit-btn, #Next-btn {
    width: 120px;
    border: none;
    padding: 10px;
    margin: 0px 15px;
    color: #FFFFFF;
    font-weight: 500;
    box-shadow: 0px 2.5px 4px rgba(128, 128, 128, 0.63);
}

#Exit-btn {
    background: orange;
}


#Exit-btn:hover{
    background: rgba(255, 166, 0, 0.653);
    font-weight: 700;
}

#Next-btn {
    background: #028A3D;
}


#Next-btn:hover{
    background: #028A3Dc2;
    font-weight: 700;
}
/* ======================
    Style for the result
   ======================
*/

.section-3 {
    display: none;
    width: 360px;
    height: 500px;
    position: relative;
    flex-direction: column;
    background: #FFFFFF;
    max-width: 100%;
}

.result-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 80px;
    max-height: 500px;
    min-height: 500px;
}

.result-output .success{
    
}

#customer-name,
#customer-email
{
    text-align: center;
    font-size: 18px;

}

.icon-check-result {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    align-items: center;
}

.icon-check-result .checked-result {
    display: none;
    /* display: block; */
    width: 120px;
    height: 120px;
    text-align: center;
    border: 10px solid #00d830;
    border-radius: 100%;
}

.icon-check-result .crossed-result {
    /* display: none; */
    width: 120px;
    height: 120px;
    text-align: center;
    border: 10px solid #FF0000;
    border-radius: 100%;
}

.checked-result img {

}

.crossed-result img {
    width: 100px;
    height: 100px;
}

.ShowResult {
    display: flex;
}

#accueil{
    padding: 10px;
    width: 150px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 1px;
    background: #1ebfe3de;
    box-shadow: 0px 2.5px 4px rgba(128, 128, 128, 0.63);
}

#accueil:hover{
    background: #116a7ec2;
    font-weight: 700;
}

/* .btn .return-home {

}

.btn .return-home #accueil {

} */