
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    /* box-sizing: border-box; */
}

body{
    background: linear-gradient(to right, #20f77acb, #29ebdbe5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 95%;
}

.form-container {
    width: 355px;
    height: 500px;
    position: relative;
    background: #FFFFFF;
    max-width: 100%;
}

form {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 25px 25px 0 25px ;
    margin-bottom: 20px;
} 

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0em;
    margin-top: 20px;
    color: #555555;
}

p {
    text-align: center;
    line-height: 1.4rem;
    font-size: 14px;
    color: #555555;
    padding: 0;
}

.name-container, .email-container {
    gap: .5rem;
    width: 90%;
    display: flex;
    position: relative;
    flex-direction: column;
    /* margin: 0 10px; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

.name-container input, .email-container input {
    width: 88%;
    padding: 10px;
    color: #555555;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}

/* .name-container input:focus, .email-container input:focus-within{
    border: none;
} */

.name-container label, .email-container label{
    color: #555555;
    font-size: 14px;
}

#commencer-btn {
    padding: 10px;
    width: 150px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 1px;
    background: #028A3D;
    box-shadow: 0px 2.5px 4px rgba(128, 128, 128, 0.63);
}

/* =====================
    Style for Questions 
   ===================== */

.header-topic {
    position: relative;
   padding: 40px 19px 20px 19px;
}

.header-topic p {
    text-align: center;    
}

#question-title {
    padding: 0px 20px 0px 20px;
    min-width: 89%;
}

#question-title label[for=question1]{
    position: absolute;
    color: #555555;
    font-size: 10px;
    left: 20px;
}

.counter {
    padding: 3px;
    margin-top: 20px;
    border-radius: 5px;
    background: #028A3D;
    margin-bottom: 15px;
    border: 1px solid #555555;
}

.response {
    padding: 0px 20px;
    min-width: 89%;
}

.input-container {
    /* margin-left: 10px; */
    padding: 13px;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

#button-container {
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

#Exit-btn, #Next-btn {
    width: 100px;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 500;
    box-shadow: 0px 2.5px 4px rgba(128, 128, 128, 0.63);
}

#Exit-btn {
    background: orange;
}

#Next-btn {
    background: #028A3D;
}