*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    /* background-image: url(image/bg-intro-desktop.png); */
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 100%;
    height: 100%;
}
/* .container{
    background-color: hsl(0, 100%, 74%) ;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    left: 50px;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    border: 16px solid hsl(0, 100%, 74%);
}
.leftside{
    position: relative;
    top: 150px;
    left: 40px;
    color: white;
    width: 900px;
    
}
.leftside p{
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}
.rightside{
    padding-top: 40px;
    display: grid;
    position: relative;
    left: 80px;
    width: 900px;  
}
.rightside .in{
    border: none;
    width: 360px;
    height: 40px;
    color: white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    border: 10px solid hsl(248, 32%, 49%);
}
.rightside form{
    display: grid;
    width: 360px;
    height: 450px;
    position: relative;
    bottom: 12px;
    box-sizing: border-box;
    border: 10px solid white;
    border-radius: 5px;
    background-color: white;

}
.rightside form input{
    background-color: none  ;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent !important;
    height: 40px;

}
.rightside form .trial{
    width: 290px;
    height: 50px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    position: relative;
    left: 24px;
}
.linkeed{
    color: hsl(0, 100%, 74%);
    opacity: 0.6;
    font: 10px;
    font-size: 8px;
    font-weight: 400px;
    position: relative;
    left: 0px;
    text-align: center;
}
.linkeed span{
    color: #333; 
    font: 10px;
    font-size: 8px;
    font-weight: 400px;
    position: relative;
    left: -2px;
} */

/*code */


/* .images{
    position: relative;
    left: 300px;
    bottom: 58px;
    visibility: hidden;
}
.nameform{
    position: relative;
    top: 5px;
    left: 210px;
    font-size: 10px;
    color: hsl(0, 100%, 74%);
    visibility: hidden;
} */

/* suite mobile*/
/* @media only screen and (max-width: 520px){
   
} */
    